/* Admin */
#woo-events {
    padding: 10px;
}

#woo-events div {
    margin: 10px;
    float: left;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
}

#woo-events span {
    min-width: 200px;
    display: inline-block;
    float: left;
}

#woo-events input {
    float: right;
}

#woo-events input:first-of-type:not([type='checkbox']):not([type='time']) {
    width: 100%;
    display: inline-block;
    margin-right: 10px;
}

/* Shop */
.woo-events-date {
    position: absolute;
    top: 10px;
    z-index: 10;
    right: 0;
    left: 0;
}