/**
 * Customer Fixes
 */
#woo-event-list ~ .single-internal-gutter {
    display: none;
}

/**
 * Styles
 */
#woo-event-list {
    position: relative;
    z-index: 2;
}

#woo-event-list > * {
    box-sizing: border-box;
}

/* Header */
#woo-event-list header {
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding: 0px 10px;
}

#woo-event-list header .category {
    background: none;
    border: none;
    height: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid white;
    outline: none;
}

#woo-event-list header .category:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#woo-event-list header .category.active {
    border-bottom: 1px solid black;
}

/* List */
#woo-event-list #event-list {
    list-style: none;
    margin: 0;
    padding: 20px 0px;
    display: flex;
    overflow: auto;
    background-color: white;
    flex-direction: column;
    min-height: 350px;
    transition: all 1s;
}

#woo-event-list #event-list li {
    margin-bottom: 20px;
    display: flex;
    border: 1px solid #eee;
    transition: all 1s;
    max-height: 1000px;
}

#woo-event-list #event-list li:hover {
    background-color: #f6f6f6
}

#woo-event-list #event-list li .image {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
    min-height: 220px !important;
}

#woo-event-list #event-list li .image .inner {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    transition: all 0.5s;
    height: 100%;
    min-height: 220px !important;
}

#woo-event-list #event-list li .image:hover .inner {
    transform: scale(1.1);
}

#woo-event-list #event-list li .image .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    z-index: 2;
}

#woo-event-list #event-list li .image:hover .overlay {
    background-color: rgba(0, 0, 0, 0.1);
}

#woo-event-list #event-list li .excerpt {
    justify-content: flex-start;
}

#woo-event-list .right .bottom {
    width: 100%;
}

#woo-event-list .order {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-left: auto;
    font-size: 80%;
    color: inherit;
    text-decoration: none;
}

#woo-event-list .order:first-child {
    margin-right: 5px;
}

#woo-event-list .order:hover {
    border-color: grey;
}

#woo-event-list .date {
    margin: 0;
    position: absolute;
    left: 25px;
    top: 10px;
    color: grey;
    font-weight: normal;
    font-size: 14px;
}

#woo-event-list .date br {
    display: none !important;
}

#woo-event-list .date span {
    display: inline;
}

#woo-event-list h3 {
    margin: 20px 10px 0 0;
    cursor: pointer;
}

#woo-event-list h3 a {
    color: inherit;
}

#woo-event-list h4 {
    margin: 0px 0px 20px 0px;
    color: grey;
}

#woo-event-list .price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    margin: 0 15px 0 0;
    margin-right: auto;
}

#woo-event-list .hide {
    height: 0 !important;
}

/**
 * List
 */
#woo-event-list li.List {
    min-height: 220px !important;
}

#woo-event-list li.List .image {
    width: 35%;
    height: 100% !important;
}

#woo-event-list li .image .featured {
    background-color: black;
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    top: 5px;
    left: 5px;
    z-index: 2;
}

#woo-event-list .List .right {
    border-left: 1px solid #eee;
    width: 65%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#woo-event-list .List .right .bottom {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 10px;
    bottom: 20px;
    width: calc(100% - 45px);
}

#woo-event-list .List .right .bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/**
 * Grid
 */
@media (max-width: 500px) {
    #woo-event-list li {
        margin: 10px;
        height: auto;
        flex-direction: column;
        display: flex;
    }

    #woo-event-list li.hide {
        display: none !important;
    }

    #woo-event-list .date {
        display: block;
        position: relative;
        left: 0;
        top: 0;
    }

    #woo-event-list .date br {
        display: block;
    }

    #woo-event-list li .image {
        height: 150px;
        width: 100% !important;
        border-bottom: 1px solid #eee;
    }

    #woo-event-list li .right {
        padding: 20px;
        width: 100% !important;
        height: 250px !important;
    }

    #woo-event-list li .bottom {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    #woo-event-list li .excerpt {
        height: 66px;
    }

    #woo-event-list li .bottom div {
        flex-direction: row;
        margin-left: auto;
    }
}
