<div id='{{key}}' class='panel woocommerce_options_panel hidden'>
    <div>
        <span>Enable</span>
        <input name='{{key}}[enable]' type='checkbox' {{enable}}>
    </div>
    <div>
        <span>Has End Date</span>
        <input name='{{key}}[hasEnd]' type='checkbox' {{hasEnd}}>
    </div>
    <div>
        <span>Start Date</span>
        <input name='{{key}}[startDate]' type='text' value='{{startDate}}'>
    </div>
    <div class="end">
        <span>End Date</span>
        <input name='{{key}}[endDate]' type='text' value='{{endDate}}'>
    </div>
    <div>
        <span>Expired Category</span>
        <select name='{{key}}[expiredCategoryName]' type='text'>
            {{#notExpiredCategories}}
                <option value="{{.}}">{{.}}</option>
            {{/notExpiredCategories}}
            <option value="{{expiredCategoryName}}" selected>{{expiredCategoryName}}</option>
        </select>
    </div>

    <br>

    <div>
        <span>External link</span>
        <input name='{{key}}[externalLink]' type='url' value='{{externalLink}}'>
    </div>
    <div>
        <span>Hide Button</span>
        <input name='{{key}}[hideButton]' type='checkbox' {{hideButton}}>
    </div>
    <div>
        <span>Button Text</span>
        <input name='{{key}}[cartButtonText]' type='text' value='{{cartButtonText}}'>
    </div>
    <div>
        <span>Subtitle</span>
        <input name='{{key}}[subTitle]' type='text' value='{{subTitle}}'>
    </div>
</div>

<script>
    jQuery(function ($) {
        /**
         * Show/Hide the end date input
         */
        var hasEndCheckbox = $('[name="{{key}}[hasEnd]"]')
        var endContainer = $('#{{key}} .end')

        hasEndCheckbox.change(toggleEnd)
        hasEndCheckbox.mouseup(toggleEnd)
        toggleEnd()

        function toggleEnd() {
            var hasEnd = hasEndCheckbox.is(':checked')
            endContainer.toggleClass('hide', !hasEnd)
            updateEnd()
        }

        function updateEnd() {
            var hasEnd = hasEndCheckbox.is(':checked')
            var startDate = $('[name="{{key}}[startDate]"]').val()
            if (!hasEnd) {
                $('[name="{{key}}[endDate]"]').val(startDate)
            }
        }

        /**
         * Datepicker
         */
        $('[name="{{key}}[startDate]"], [name="{{key}}[endDate]"]').datepicker({
            language: 'en',
            timepicker: 'true',
            timeFormat: 'hh:ii',
            dateFormat: 'yyyy-mm-dd'
        })
    })
</script>

<style>
    .hide {
        display: none !important;
    }
</style>

