<div id='{{key}}' class='panel woocommerce_options_panel hidden'>
    <div>
        <span>Enable</span>
        <input name='{{key}}[enable]' type='checkbox' {{enable}}>
    </div>
    <div>
        <span>Has End Date</span>
        <input name='{{key}}[has-end]' type='checkbox' {{has-end}}>
    </div>
    <div>
        <span>Start Date</span>
        <input name='{{key}}[start-date]' type='text' value='{{start-date}} {{start-time}}'>
    </div>
    <div class="end">
        <span>End Date</span>
        <input name='{{key}}[end-date]' type='text' value='{{end-date}} {{end-time}}'>
    </div>
    <div>
        <span>External link</span>
        <input name='{{key}}[external-link]' type='url' value='{{external-link}}'>
    </div>
    <div>
        <span>Subtitle</span>
        <input name='{{key}}[subtitle]' type='text' value='{{subtitle}}'>
    </div>
</div>

<script>
    jQuery(function ($) {
        /**
         * Show/Hide the end date input
         */
        var hasEndCheckbox = $('[name="{{key}}[has-end]"]')
        var endContainer = $('#{{key}} .end')

        hasEndCheckbox.change(toggleEnd)
        toggleEnd()

        function toggleEnd() {
            var hasEnd = hasEndCheckbox.is(':checked')
            endContainer.toggleClass('hide', !hasEnd)
//
//            if (!hasEnd) {
//                endContainer.find('input').val('start-date')
//            }
        }

        /**
         * Datepicker
         */
        $('[name="{{key}}[start-date]"], [name="{{key}}[end-date]"]').datepicker({
            language: 'en',
            timepicker: 'true',
            timeFormat: 'hh:ii',
            dateFormat: 'yyyy-mm-dd'
        })
    })
</script>

<style>
    .hide {
        display: none !important;
    }
</style>

