<div id="calendar-wrap" data-current="">
    {{#months}}
        <div class="month" data-month="{{month}}" data-year="{{year}}">
            <nav>
                <button>Previous</button>
                <div>{{localised}}</div>
                <button>Next</button>
            </nav>

            <table id="wp-calendar">

            </table>
        </div>
    {{/months}}
</div>

<style>
    #calendar-wrap {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
    }

    #calendar-wrap nav {
        height: 50px;
        background-color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #calendar-wrap nav button {
        background: none;
    }

    .month {
        width: 100%;
        height: 100%;
    }
</style>

<script language="javascript">
    window.$ = jQuery

    $(function () {
        $(".tooltip_interact").tooltipster({
            theme: "tooltipster-shadow",
            animation: "grow",
            contentAsHTML: true,
            interactive: true
        });

        $('')

        function update() {

        }
    });
</script>