<div id="calendar-wrap">
    <div class="months">
        {{#months}}
            <div class="month" data-month="{{month}}" data-year="{{year}}">
                <nav>
                    <button id="previous">Previous</button>
                    <div class="month-year">{{localised}} {{year}}</div>
                    <button id="next">Next</button>
                </nav>

                <table id="calendar">
                <tr>
                    {{#days}}
                        <tr>
                            {{#.}}
                                <td class="day" align="center" colspan="7" data-start-date="{{year}}-{{month}}-{{.}}">
                                    {{.}}
                                </td>
                            {{/.}}
                        </tr>
                    {{/days}}
                    </tr>
                </table>
            </div>
        {{/months}}
    </div>
    <div class="events">
        {{#events}}
            <div class="event" data-start-date="{{start-date-only}}">
                <div class="image" style="background-image: url({{image}})"></div>
                <div class="right">
                    <p class="date">{{start-date}} <br/>{{#has-end}}{{end-date}}{{/has-end}}</p>
                    <h5><a href="{{permalink}}">{{post_title}}</a></h5>
                </div>
            </div>
        {{/events}}
    </div>
</div>