<div>
    <p>
        <label for="{{title_id}}">Title</label>
        <input class="widefat" id="{{title_id}}" name="{{title_name}}" type="text" value="{{title_value}}"/>
    </p>
    <p>
        <label for="{{nextmonths_id}}"># of Next Months:</label><br/>
        <input name="{{nextmonths_name}}" value="{{nextmonths_value}}" style="width:100%;"/>
    </p>
    <p>
        <label for="{{previousmonths_id}}"># of Previous Months:</label><br/>
        <input name="{{previousmonths_name}}" value="{{previousmonths_value}}" style="width:100%;"/>
    </p>
    <p>
        <label for="{{categories_id}}">Categories:</label> <br/>
        <select name="{{categories_name}}[]" multiple style="width:100%;">
            {{#categories}}
                <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/categories}}
        </select>
    </p>
</div>
