<div>
    <input type="text" name="{{settings.param_name}}" style="display: none" class="wpb_vc_param_value"
           value="{{value}}">
    <select class="chosen" id="{{settings.param_name}}" multiple>
        {{#settings.value}}
            <option value="{{.}}">{{.}}</option>
        {{/settings.value}}
    </select>
</div>


<script>
    window.$ = window.jQuery

    $(function () {
        $('.chosen#{{settings.param_name}}').find('option').each(function (i, el) {
            const value = $(el).val()
            if ($('input[name={{settings.param_name}}]').attr('value').includes(value))
                $(el).attr('selected', true)
        })

        $('.chosen#{{settings.param_name}}').chosen().change(function () {
            const value = $(this).val().join(',')
            $('input[name={{settings.param_name}}]').attr('value', value)
        })

    })
</script>

<style>
    .chosen-container {
        width: 100vh !important;
    }

    .chosen-choices {
        padding: 5px !important;
        border-color: #ddd !important;
    }

    .chosen-choices input {
        width: 100% !important;
    }

    .search-choice {
        background-image: none !important;
        background-color: #eee !important;
    }
</style>