<div id="woo-event-list">

    {{#options.show_category_filter}}
        <header id="filter">
            <button class="category active" data-category="all">All</button>
            {{#categories}}
                <button class="category" data-category="{{.}}">{{.}}</button>
            {{/categories}}
        </header>
    {{/options.show_category_filter}}

    <ul id="event-list" class="{{options.layout}}">
        {{#events}}
            <li data-category="{{product_cat}}" data-permalink="{{permalink}}">
                <div class="image" style="background-image: url({{image}})">
                    {{#featured}}
                        <div class="featured">{{featured}}</div>
                    {{/featured}}
                </div>
                <div class="right">
                    <h3>{{post_title}}</h3>
                    <h4>{{subTitle}}</h4>
                    {{options.show_date}}
                    {{#options.show_date}}
                        <h5 class="date">{{start-date}} - {{end-date}}</h5>
                    {{/options.show_date}}
                    <div class="excerpt">{{{post_excerpt}}}</div>
                    <div class="bottom">
                        <div>
                            {{#price}}
                                <h4 class="price">€{{price}}</h4>
                            {{/price}}
                            <a class="order" href="}}">Add to cart</a>
                            <a class="order" href="{{productUrl}}">{{options.button_text}}</a>
                        </div>
                    </div>
                </div>
            </li>
        {{/events}}
    </ul>
</div>
<script>
    const $ = jQuery


    $(function () {
        $('.category').on('click', function (e) {
            var category = $(e.target).data('category')

            $('.category').toggleClass('active', false)
            $(e.target).toggleClass('active', true)

            if (category == 'all')
            {
                $('#event-list li').toggleClass('hide', false)
            } else
            {
                $('#event-list li').toggleClass('hide', true)
                $('#event-list li[data-category=' + category + ']').toggleClass('hide', false)
            }
        })

        $('#event-list li h3').on('click', function (e) {
            var permalink = $(e.target).closest('#event-list li').data('permalink')
            window.location.assign(permalink)
        })
    })
</script>