<div id="woo-event-list">

    {{#options.show_category_filter}}
        <header id="filter">
            <button class="category active" data-category="all">All</button>
            {{#categories}}
                <button class="category" data-category="{{.}}">{{.}}</button>
            {{/categories}}
        </header>
    {{/options.show_category_filter}}

    <ul id="event-list" class="{{options.layout}}">
        {{#events}}
            <li data-category="{{product_cat}}" data-permalink="{{permalink}}"
                style="height: {{options.image_height}}px;">
                <div class="image" style="height: {{options.image_height}}px;">
                    <div class="overlay"></div>
                    <div class="inner" style="background-image: url({{image}})">
                        {{#featured}}
                            <div class="featured">{{featured}}</div>
                        {{/featured}}
                    </div>
                </div>
                <div class="right">
                    {{#options.show_date}}
                        <h5 class="date">
                            {{start-date}}
                            {{#has-end}} - {{end-date}}{{/has-end}}
                        </h5>
                    {{/options.show_date}}
                    <h3>
                        <a href="{{permalink}}" style="color: {{options.title_color}};">{{post_title}}</a>
                    </h3>
                    <h4 style="color: {{options.subtitle_color}};">{{subtitle}}</h4>
                    <div class="excerpt">{{{post_excerpt}}}</div>
                    <div class="bottom">
                        {{#price}}
                            {{^external-link}}
                                <h4 class="price">€{{price}}</h4>
                            {{/external-link}}
                        {{/price}}
                        <div>
                            {{^external-link}}
                                <a class="order"
                                   href="{{permalink}}?add-to-cart={{ID}}">{{options.add_to_cart_text}}
                                </a>
                            {{/external-link}}
                            <a class="order" href="{{permalink}}">{{options.button_text}}</a>
                        </div>
                    </div>
                </div>
            </li>
        {{/events}}
    </ul>
</div>
<script>
    const $ = jQuery


    $(function () {
        $('.category').on('click', function (e) {
            var category = $(e.target).data('category')

            $('.category').toggleClass('active', false)
            $(e.target).toggleClass('active', true)

            if (category == 'all') {
                $('#event-list li').toggleClass('hide', false)
            } else {
                $('#event-list li').toggleClass('hide', true)
                $('#event-list li[data-category=' + category + ']').toggleClass('hide', false)
            }
        })

        $('#event-list li h3, #event-list li .image').on('click', function (e) {
            var permalink = $(e.target).closest('#event-list li').data('permalink')
            window.location.assign(permalink)
        })
    })
</script>