/* Admin */
#woo-events {
    padding: 10px;
}

#woo-events div {
    margin: 10px;
}

#woo-events span {
    min-width: 200px;
    display: inline-block;
}

#woo-events input:first-of-type:not([type='checkbox']) {
    min-width: 160px;
    display: inline-block;
}

/* Shop */